= render 'layouts/sidebar'

%section.right
  %article
    %h2 DP Thomas Foundation Services
    - if services.present?
      - services.each do |service|
        %h4= service.name
        = service.details.html_safe
        - if current_member
          %p
            = link_to "edit this service", edit_service_path(service)
            %br
            = link_to "remove this service", service_path(service), method: :delete, confirm: "Are you sure that you want to delete this service?"
    - else
      %p No services currently listed

    - if current_member
      %p= link_to "add a service", new_service_path
