.left
  = render 'layouts/sidebar'

.right
  - announcements.each do |announcement|
    %section
      %article
        = announcement.announcement.html_safe
        %br
        posted at: #{ announcement.created_at.strftime('%m/%d/%y') }
        %br
        = link_to 'edit this site announcement', edit_announcement_path(announcement)
        %br
        = link_to 'delete this site announcement', announcement_path(announcement), method: :delete, confirm: 'Are you sure that you want to delete this announcement?'
