= javascript_include_tag 'editor'
= render partial: '/header', :locals => { :page_title => 'Discussion Board' }
.wrapper
  %section
    = render partial: '/nav'
    %article
      = render partial: '/flash_message'
      %h3 Edit Discussion
      = simple_form_for discussion do |f|
        = f.input :topic
        = f.input :content, as: :text
        = f.submit
