= javascript_include_tag 'editor'
= render partial: '/header', :locals => { :page_title => 'Discussion Board' }
.wrapper
  %section
    = render partial: '/nav'
    %article
      = render partial: '/flash_message'
      %p Topic: #{ discussion.topic }
      %p posted by: #{ discussion.author }
      %p posted at: #{ discussion.created_at.strftime('%-m/%-d/%Y') }
      .content= discussion.content
      - if discussion.member_id == current_member.id
        %p= link_to "edit discussion", edit_discussion_path(discussion)
      - if replies.present?
        .replies
          - replies.each do |reply|
            .reply
              %p #{ reply.author } replied:
              %p posted at: #{ reply.created_at.strftime('%-m/%-d/%Y') }
      %p= link_to "reply to this discussion", '#', id: 'discussion_reply'
      #reply_form
        %p Post a reply to this discussion
        = simple_form_for [discussion, reply] do |f|
          = f.input :content
          = f.submit
