= render partial: '/header', :locals => { :page_title => 'Discussion Board' }
.wrapper
  %section
    = render partial: '/nav'
    %article
      = render partial: '/flash_message'
      %p Topic: #{ discussion.topic }
      %p posted by: #{ discussion.author }
      %p posted at: #{ discussion.created_at.strftime('%-m/%-d/%Y') }
      .content= discussion.content
      - if discussion.member_id == current_member.id
        %p= link_to "edit discussion", edit_discussion_path(discussion)
