%header#index_header
  = image_tag('dpfound_lrg.png', width: "486", height: "287")
  %p Sign up for the #{ link_to 'email newsletter', new_email_listing_path }
  %div
    %h1 Welcome to the DP Thomas Home Page
  %ul
    %li
      = link_to "Events", events_path
    %li
      = link_to "About Us", members_path
    %li
      = link_to "Services", services_path
    %li
      = link_to "Donate", donations_path
