.left
  = render 'layouts/sidebar'

.right
  %section
    %article
      %h2 Annual 5k Celebration
      %p
        %h3 Walk and Run
        %br
        = image_tag 'DP-5k-18', size: '502x650'
        %br
        September 22, 2018 8:00 a.m.
        %br
        Two Rivers Park
        %br
        %br
        %h3 Thanks to our Sponsors:
        .sponsors
          Turnip Truck
          %br
          Real Water
          %br
          DP Thomas Foundation
          %br
          Herb DeBerry
          %br
        Visit the
        = link_to 'Events Page', events_path
        for more details
        %br
        = link_to 'Click Here ', new_event_registration_path(6)
        to Register

  = render 'layouts/images'

  %section
    %article
      %h2 Mission Statement
      %p
        DP Thomas Foundation for Obesity promotes healthy living as a way to combat obesity and its negative affect on society by educating the community on nutrition, exercise, and the importance of maintaining a balanced lifestyle.
  %section
    %article
      %h2 Vision Statement
      %p
        The DP Thomas Foundation for Obesity envisions a distinctively different outlook of the obesity epidemic, where communities gain the knowledge of proper nutrition, accountability and exercise to help its citizens achieve and maintain a balanced lifestyle, free from obesity.
