.left
  = render 'layouts/sidebar'

.right
  %section
    %article
      %h2 Mission Statement
      %p
        DP Thomas Foundation for Obesity promotes healthy living as a way to combat obesity and its negative affect on society by educating the community on nutrition, exercise, and the importance of maintaining a balanced lifestyle.
  %section
    %article
      %h2 Vision Statement
      %p
        The DP Thomas Foundation for Obesity envisions a distinctively different outlook of the obesity epidemic, where communities gain the knowledge of proper nutrition, accountability and exercise to help its citizens achieve and maintain a balanced lifestyle, free from obesity.
  %section#photo-gallery
    %article
      %div.photos
        = image_tag 'shelby_walk_run/shelby_08.png'
        = image_tag 'shelby_walk_run/shelby_01.png'
        = image_tag 'shelby_walk_run/shelby_03.png'
        = image_tag 'shelby_walk_run/shelby_05.png'
        = image_tag 'shelby_walk_run/shelby_09.png'
        = image_tag 'shelby_walk_run/shelby_10.png'
        = image_tag 'shelby_walk_run/shelby_12.png'
        = image_tag 'shelby_walk_run/shelby_13.png'
        = image_tag 'shelby_walk_run/shelby_17.png'
        = image_tag 'shelby_walk_run/shelby_18.png'
        = image_tag 'shelby_walk_run/shelby_19.png'
        = image_tag 'shelby_walk_run/shelby_20.png'
        = image_tag 'shelby_walk_run/shelby_22.png'
        = image_tag 'shelby_walk_run/shelby_23.png'
        = image_tag 'shelby_walk_run/shelby_24.png'
        = image_tag 'shelby_walk_run/shelby_25.png'
        = image_tag 'shelby_walk_run/shelby_27.png'
        = image_tag 'shelby_walk_run/shelby_28.png'
