%section#photo-gallery
  %div.photos
    - assets_root = 'http://dpthomas.org/_assets/shelby_walk_run/2013-shelby-walk/'
    = image_tag "#{ assets_root }DSC_0001.jpg"
    = image_tag "#{ assets_root }DSC_0006.jpg"
    = image_tag "#{ assets_root }DSC_0010.jpg"
    = image_tag "#{ assets_root }DSC_0012.jpg"
    = image_tag "#{ assets_root }DSC_0013.jpg"
    = image_tag "#{ assets_root }DSC_0014.jpg"
    = image_tag "#{ assets_root }DSC_0015.jpg"
    = image_tag "#{ assets_root }DSC_0016.jpg"
    = image_tag "#{ assets_root }DSC_0017.jpg"
    = image_tag "#{ assets_root }DSC_0020.jpg"
    = image_tag "#{ assets_root }DSC_0022.jpg"
    = image_tag "#{ assets_root }DSC_0024.jpg"
    = image_tag "#{ assets_root }DSC_0028.jpg"
    = image_tag "#{ assets_root }DSC_0035.jpg"
    = image_tag "#{ assets_root }DSC_0037.jpg"
    = image_tag "#{ assets_root }DSC_0038.jpg"
    = image_tag "#{ assets_root }DSC_0041.jpg"
    = image_tag "#{ assets_root }DSC_0043.jpg"
    = image_tag "#{ assets_root }DSC_0045.jpg"
    = image_tag "#{ assets_root }DSC_0047.jpg"
    = image_tag "#{ assets_root }DSC_0049.jpg"
    = image_tag "#{ assets_root }DSC_0050.jpg"
    = image_tag "#{ assets_root }DSC_0051.jpg"
    = image_tag "#{ assets_root }DSC_0054.jpg"
    = image_tag "#{ assets_root }DSC_0056.jpg"
    = image_tag "#{ assets_root }DSC_0058.jpg"
    = image_tag "#{ assets_root }DSC_0059.jpg"
    = image_tag "#{ assets_root }DSC_0061.jpg"
    = image_tag "#{ assets_root }DSC_0063.jpg"
    = image_tag "#{ assets_root }DSC_0065.jpg"
    = image_tag "#{ assets_root }DSC_0066.jpg"
    = image_tag "#{ assets_root }DSC_0069.jpg"
    = image_tag "#{ assets_root }DSC_0070.jpg"
    = image_tag "#{ assets_root }DSC_0075.jpg"
    = image_tag "#{ assets_root }DSC_0076.jpg"
    = image_tag "#{ assets_root }DSC_0078.jpg"
    = image_tag "#{ assets_root }DSC_0079.jpg"
    = image_tag "#{ assets_root }DSC_0082.jpg"
    = image_tag "#{ assets_root }DSC_0084.jpg"
    = image_tag "#{ assets_root }DSC_0090.jpg"
    = image_tag "#{ assets_root }DSC_0092.jpg"
    = image_tag "#{ assets_root }DSC_0094.jpg"
    = image_tag "#{ assets_root }DSC_0099.jpg"
    = image_tag "#{ assets_root }DSC_0106.jpg"
    = image_tag "#{ assets_root }DSC_0107.jpg"
    = image_tag "#{ assets_root }DSC_0113.jpg"
    = image_tag "#{ assets_root }DSC_0116.jpg"
    = image_tag "#{ assets_root }DSC_0123.jpg"
    = image_tag "#{ assets_root }DSC_0126.jpg"
    = image_tag "#{ assets_root }DSC_0128.jpg"
    = image_tag "#{ assets_root }DSC_0129.jpg"
    = image_tag "#{ assets_root }DSC_0132.jpg"
    = image_tag "#{ assets_root }DSC_0134.jpg"
    = image_tag "#{ assets_root }DSC_0137.jpg"
    = image_tag "#{ assets_root }DSC_0140.jpg"
    = image_tag "#{ assets_root }DSC_0143.jpg"
    = image_tag "#{ assets_root }DSC_0145.jpg"
    = image_tag "#{ assets_root }DSC_0146.jpg"
    = image_tag "#{ assets_root }DSC_0148.jpg"
