= render partial: '/header', :locals => { :page_title => 'Events' }
.wrapper
  %section
    = render partial: '/nav'
    %article
      = render partial: '/flash_message'
      - if future_events.present?
        - future_events.each do |event|
          %h2= event.title
          %div= event.date.strftime('%-m/%d/%y')
          %div= event.location
          %div= event.details
          -# = link_to "View photos from the event", :root
          - if event.has_registration?
            %p= link_to 'register for this event', new_event_registration_path(event)
      - else
        %p No scheduled events
