= render partial: '/header', :locals => { :page_title => 'Events' }
.wrapper
  %section
    = render partial: '/nav'
    %article
      = render partial: '/flash_message'
      - if future_events.present?
        - future_events.each do |event|
          %h2= event.title + ":"
          %h2= event.name
          %hr
          %div Date: #{ event.date.strftime('%B %d, %Y') }
          %div Location: #{ event.location }
          %div
            Event Details:
            %br
            = event.details.html_safe
          - if current_member
            %p= link_to 'edit this event', edit_event_path(event)
          - if event.has_registration?
            %p= link_to 'register for this event', new_event_registration_path(event)
      - else
        %p No scheduled events

      %em Let's come together and have healthy fun to fight the war against obesity!
