%body
  = render partial: '/header', :locals => { :page_title => 'Events' }
  .wrapper
    %section
      = render partial: '/nav'
      %article
        = render partial: '/flash_message'
        = simple_form_for :event do |f|
          = f.input :title
          = f.input :date, as: :date
          = f.input :event_details, as: :text
          = f.submit
