%body
  = render partial: '/header', locals: { page_title: page.title }
  .wrapper
    %section
      %nav
        - pages.each do |page|
          %ul
            %li
              = link_to page.title, page_path(page)
      %article
        = render partial: '/flash_message'
        -# %h2= page.subtitle
        %p= page.content
        -# - if page.sub_page
        -#   %p= page.sub_page
    = render partial: '/footer'
