%nav
  %ul
    %li
      = link_to "Home Page", :root
    %li
      = link_to "Events", events_path
    %li
      = link_to "About Us", '/about_us'
    %li
      = link_to "Services", services_path
    %li
      = link_to "Donate", donations_path
    %li
      = link_to "Email List Sign Up", new_email_listing_path
  - if current_member
    .session_info
      %p Currently signed in as #{ current_member.name }
      %p= link_to "Visit the Members' Dashboard", members_dashboard_path
      %p= link_to "sign out", destroy_member_session_path, method: :delete
      %p= link_to "edit your profile", edit_member_path(current_member)
