- if flash.any?
  .flash
    .inner
      - flash.each do |type, message|
        %em #{type.capitalize}: #{message}

- if announcements.any?
  - announcements.each do |announcement|
    .announcement= announcement.announcement.html_safe

.facebook
  %h3 Like us on Facebook!
  .logo
    %i.fab.fa-facebook-square
  = render 'layouts/facebook'

- unless params[:controller] == 'home' && params[:action] == 'index'
  = render 'layouts/images'

- if current_member
  = render 'members/actions'
