- if flash.any?
  .flash
    .inner
      - flash.each do |type, message|
        %em #{type.capitalize}: #{message}

- if announcements.any?
  - announcements.each do |announcement|
    .announcement= announcement.announcement.html_safe

.facebook
  %h3 Like us on Facebook!
  .logo
    %i.fab.fa-facebook-square
  .fb-like{ data: facebook_hash }

- unless params[:controller] == 'home' && params[:action] == 'index'
  %section#photo-gallery
    %article
      #side-bar-photos
        - [*health_fair_images, *twenty_eighteen_images].shuffle.each do |image|
          = image_tag image

- if current_member
  = render 'members/actions'
