- if flash.any?
  .flash
    .inner
      - flash.each do |type, message|
        %em #{type.capitalize}: #{message}

- if announcements.any?
  - announcements.each do |announcement|
    .announcement= announcement.announcement.html_safe

= render 'layouts/images'

.facebook
  %h3 Like us on Facebook!
  = render 'layouts/facebook'

- if current_member
  = render 'members/actions'
