!!! 5
%html
  %head
    %title DP Thomas
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %header
      = render '/layouts/header'
      #title_bar
        .left
          #logo= image_tag 'dp-thomas.png'
        .right
          %h1 DP Thomas Foundation for Obesity
          %hr
          %h2 Home Page

    .wrapper
      #top_back
      - if flash.any?
        = render partial: '/layouts/flash', locals: { flash: flash }

      = yield
