!!! 5
%html
  %head
    %title DP Thomas
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Questrial'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Contrail+One'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
  %body
    %header
      = render '/layouts/header'
    #title-bar
      .left
        = link_to root_path do
          #logo= image_tag 'dp-thomas.png'
      .right
        %h1 DP Thomas Foundation for Obesity
        %hr
        %h2= page_title
    .wrapper
      #content
        = yield
      = render '/layouts/footer'
