!!! 5
%html
  %head
    %title DP Thomas
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'application'
    %script(src="/tinymce.min.js")
    = csrf_meta_tags
  %body
    - if params[:controller] == 'home' && params[:action] == 'index'
      = render partial: '/home/header'
    = yield
    = render :partial => '/footer'
