#member-actions
  %div
    %h3 Member Actions
    #action-items
      .title Events
      %div= link_to "Add a new event", new_event_path, class: 'large-link'
      .title Discussions
      %div= link_to "View all discussions", discussions_path, class: 'large-link'
      %div= link_to "create a new discussion", new_discussion_path, class: 'large-link'
      .title Services
      %div= link_to "Manage Services", services_path
      %div= link_to "Add Service", new_service_path, class: 'large-link'
      #member-links
        .title Helpful Links
        = link_to "view the members' dashboard", members_dashboard_path
        %br
        = link_to 'edit your member profile', edit_member_path(current_member)
        %br
        = link_to 'sign out', destroy_member_session_path, method: :delete
