%body
  = render partial: '/header', :locals => { :page_title => 'Member Dashboard' }
  .wrapper
    %section
      = render partial: '/nav'
      %article
        = render partial: '/flash_message'
        .events
          %h3 Events
          - if future_events.present?
            - future_events.each do |event|
              %p Event title: #{ event.title }
              %p Date: #{ event.date.strftime('%-m/%-d/%Y') }
              %p Location: #{ event.location }
              %p Details: #{ event.details }
          - else
            %p No scheduled events
          %p= link_to "Add a new event", new_event_path
        %hr
        .discussions
          %h3 Discussions
          - if discussions.present?
            - discussions.each do |discussion|
              %p Topic: #{ discussion.topic }
              %p posted by: #{ discussion.author }
              %p posted at: #{ discussion.created_at.strftime('%-m/%-d/%Y') }
          - else
            %p No active discussions
          %p= link_to "create a new discussion", new_discussion_path
