.left
  - if current_member
    = render 'members/actions'

%section.right
  %article
    %h2 About the DP Thomas Foundation
    %p
      Several #{ link_to "research studies", "http://abcnews.go.com/blogs/health/2012/05/07/fat-forecast-42-of-americans-obese-by-2030", target: :new } forecast an additional 32+ million Americans will be classified as obese by 2030, bringing the total to an astounding 42% - 50% of the adult population. The DP Thomas Foundation for Obesity, founded in 2010 by Dolly Patton-Thomas, seeks to change the outlook reported by these researchers. The Foundation incorporates a series of workshops, seminars, counseling, and together strategies to help the community and its families formulate individualized lifestyle plans. These plans follow a methodology of natural and organic nutrition coupled with proper exercise and balanced living to create a lifestyle free from obesity. A healthy lifestyle was Dolly Patton-Thomas' goal for herself and she hopes to pass it on through the outreach of the DP Thomas Foundation for Obesity.
    %h2 Board Members
    - members_with_profiles.each do |member|
      .member_profile
        %h3.member-name #{ member.name } - #{ member.position }
        - if member.image_name
          = image_tag "/assets/member_profiles/#{member.image_name}"
        .bio= member.biography.html_safe
        - if !member.email.match(/example\.com/) && (current_member || member.public_email?)
          %p.contact email: #{ mail_to member.email }
        - if current_member && member.phone
          %p.contact Phone: #{ number_to_phone(member.phone, area_code: true) }
        - if current_member && current_member.id == member.id
          = render 'edit'
        .clear
